html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.welcome-message {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}

header {
    background-color: #e8ee4e;
    color: #000000;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    margin: 0;
}

nav {
    background-color: #310f38;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav ul li a.active::after,
nav ul li a:hover::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #e8ee4e;
    bottom: -11px;
    left: 0;
}

nav ul li a.active,
nav ul li a:hover {
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}

.team-section {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.team-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-info {
    flex: 1;
    padding-right: 50px; 
}

.chart-large {
    width: 300px;
    height: 300px;
    right: 20px;
} 

.last-games {
    margin-top: 15px;
    font-size: 0.9em;
}

.game-result {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 4px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

.game-result.W {
    background: linear-gradient(to bottom right, green, darkgreen);
}

.game-result.L {
    background: linear-gradient(to bottom right, blue, darkblue);
}

.game-result.D {
    background: linear-gradient(to bottom right, gray, darkgray);
}

.comparative-section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comparative-section h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #310f38;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chart-container {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 500px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 500px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #87ed80;
    box-shadow: 0 5px #57cc99;
    text-align: center;
    font-size: 16px;
}

input[type="submit"]:hover {
    box-shadow: 0 3px #57cc99;
    top: 1px;
}

input[type="submit"]:active {
    box-shadow: 0 0 #57cc99;
    top: 5px;
}

h2 {
    margin: 0;
    margin-bottom: 50px; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    position: relative;
}

th.sortable span.sort-icons::before {
    content: '⇅';
    position: absolute;
    top: -20px;
    left: 50%; 
    transform: translateX(-50%);
    font-size: 16px;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e9e9e9;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-bottom: 10px;
}

.report-table {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
}

.report-table th, .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
