html {
    height: 100%;  /* Ensure html takes full height of the viewport */
}

body {
    display: flex;         /* Use flexbox to allow 'flexible' layouts */
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh;      /* Minimum height is full viewport */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;  
}
    
    header {
    background-color: #e8ee4e;
    color: #000000;
    padding: 20px;
    text-align: center;
    }
    
    h1, h2, h3 {
    margin: 0;
    }
    
    nav {
    background-color: #310f38;
    padding: 10px;
    text-align: center;
    }
    
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    nav ul li {
    display: inline;
    margin-right: 10px;
    }
    
    nav ul li a {
    text-decoration: none;
    color: #fff;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center; /* This will help in making sure everything in main is centered, including your table */
        justify-content: center;
        flex: 1;  /* Allows the main content to expand and fill available space */
        margin: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        background-color: #fff;
    }
    
    footer {
    background-color: #310f38;
    color: #fff;
    padding: 10px;
    text-align: center;
    }
    
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;                   /* Same width as other inputs */
    background: linear-gradient(145deg, #22c55e, #0d4d24);  /* Green gradient */
    color: white;
    padding: 8px;                 /* Padding similar to other input fields */
    border: none;
    border-radius: 0px;           /* No rounded corners */
    cursor: pointer;
    font-size: 16px;
    text-align: center;           /* Centering the text */
}

input[type="submit"]:hover {
    background: linear-gradient(145deg, #15803d, #166534);  /* Darker green gradient on hover */
}
h2 {
    margin: 0;
    margin-bottom: 30px; /* Increased space between the h2 element and what follows */
}
    
    /* Table Styles */
table {
    width: 60%;          /* Adjusted width from 80% to 60% */
    margin: 20px auto;   /* Vertical margin added and horizontal auto for center alignment */
    text-align: center;  /* Center alignment of text inside the table */
}

th, td {
    padding: 8px;
    text-align: center;  /* Ensure that header and data cells are also centered */
    border-bottom: 1px solid #ddd;
}

    
    th {
    background-color: #f2f2f2;
    }
    
    /* Error Styles */
    .error {
    color: red;
    margin-bottom: 10px;
    }
    
    /* Success Styles */
    .success {
    color: green;
    margin-bottom: 10px;
    }